<div>
  <h1>Home departamentos</h1>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Localidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (dept of departamentos; track dept){
        <tr>
          <td>{{dept.idDepartamento}}</td>
          <td>{{dept.nombre}}</td>
          <td>{{dept.localidad}}</td>
          <td>
            <!-- <a [routerLink]="['/details/' + dept.idDepartamento + '/' + dept.nombre
            + '/' +dept.localidad]" class="btn btn-dark">detalles</a> -->
            <a [routerLink]="['/details', dept.idDepartamento, dept.nombre, dept.localidad]" class="btn btn-dark">detalles</a>
            <a [routerLink]="['/edit', dept.idDepartamento]" class="btn btn-info">Edit</a>
            <a (click)="deleteDepartamento(dept.idDepartamento)" class="btn btn-danger">Delete</a>

          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
